<!DOCTYPE HTML>
<html>
	<head>
		<title>OCS/OBS K8s Demo</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="http://demo-nodejs.oss-cn-hongkong.aliyuncs.com/assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<section id="header">
				<div class="inner">
					<span><img class="manImg" src="https://thedenveradventure.com/wp-content/uploads/2017/01/olympic-rings-on-white-1.png" width="40%"></img></span>
					<h1>Howdy, I'm <strong>Ruby On Rails Server</strong>, running on Docker<br />
					I'm currently running the version: <strong><%= @version_number %></strong>.</h1>
					<p>I am running: <strong>Ruby <%= @ruby_version %></strong> and <strong>Rails <%= @rails_version %></strong>.<br /></p>
					<ul class="actions">
						<li><a href="#one" class="button scrolly">Discover</a></li>
					</ul>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="main style1">
				<div class="container">
					<div class="row 150%">
						<div class="6u 12u$(medium)">
							<header class="major">
								<h2>Olympic Winter Games PyeongChang 2018<br />
								Games Period: 9 - 25 February 2018 (17 days)</h2>
							</header>
							<p>The XXIII Olympic Winter Games will be held for 17 days from 9 to 25 February 2018 in PyeongChang, Gangwon Province, the Republic of Korea. PyeongChang was selected as the host city of the 2018 Olympic Winter Games after receiving a majority vote at the 123rd IOC Session held on 6 July 2011 after three consecutive bids. The Olympic Winter Games will be held in Korea for the first time in 30 years after the Seoul Olympic Games in 1988. PyeongChang will be the stage for the Opening and Closing Ceremonies and most snow sports. Alpine speed events will take place in Jeongseon, and all ice sports will be competed in the coastal city of Gangneung.</p>
						</div>
						<div class="6u$ 12u$(medium) important(medium)">
							<span class="image fit"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/PyeongChang_2018_Winter_Olympics.svg/1200px-PyeongChang_2018_Winter_Olympics.svg.png" height="20%"/></span>
						</div>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<section id="footer">
				<ul class="copyright">
					<li>&copy; Alibaba Cloud</li><li>Design: <a href="https://www.pyeongchang2018.com/en/index">For the Demo</a></li>
				</ul>
			</section>

		<!-- Scripts -->
			<script src="http://demo-nodejs.oss-cn-hongkong.aliyuncs.com/assets/js/jquery.min.js"></script>
			<script src="http://demo-nodejs.oss-cn-hongkong.aliyuncs.com/assets/js/jquery.scrolly.min.js"></script>
			<script src="http://demo-nodejs.oss-cn-hongkong.aliyuncs.com/assets/js/skel.min.js"></script>
			<script src="http://demo-nodejs.oss-cn-hongkong.aliyuncs.com/assets/js/util.js"></script>
			<script src="http://demo-nodejs.oss-cn-hongkong.aliyuncs.com/assets/js/main.js"></script>

	</body>
</html>